.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ECF1F4;
  height: auto;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-top: 41px;
}

.logo {
  padding-left: 200px;
}

.links {
  display: flex;
  padding-right: 200px;
}

.button1 {
  background-color: white;
  color: #51BE7A;
  width: 134px;
  height: 50px;
  border: 1px solid white;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 120.5%;
  margin-right: 20px;
}

.button1:hover {
  border: 1px solid #51BE7A;
  transition: 0.9s;
}

.button2 {
  background-color: #51BE7A;
  width: 134px;
  height: 50px;
  border: 1px solid #51BE7A;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 120.5%;
  color: white;
}

.button2:hover {
  background-color: white;
  border: 1px solid #51BE7A;
  border-radius: 10px;
  transition: 0.9s;
  color: #51BE7A;
}

.hero {
  display: flex;
  /* justify-content: space-between; */
}

.main {
  padding-left: 200px;
  padding-right: 118px;
  margin-right: 150px;;
}

.orient {
  padding-top: 145px;
}

.headerText {
  font-size: 600;
  font-size: 58px;
  line-height: 120.5%;
  margin: 0;
}

.subText {
  margin: 0;
  padding-top: 20px;
  font-weight: 400;
  font-size: 28px;
  line-height: 120.5%;
  color: #000000;
}

.heroLinks {
  padding-top: 77px;
}

.heroButton1 {
  width: 202px;
  height: 62px;
  background-color: #51BE7A;
  border-radius: 10px;
  border: 1px solid #51BE7A;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 120.5%;
  letter-spacing: 0.005em;
  margin-right: 20px;
}

.heroButton1:hover {
  background-color: white;
  color: #51BE7A;
  transition: 0.9s;
}

.heroButton2 {
  width: 202px;
  height: 62px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid white;
  color: black;
  font-weight: 500;
  font-size: 18px;
  line-height: 120.5%;
  letter-spacing: 0.005em;
}

.heroButton2:hover {
  border: 1px solid #51BE7A;
  transition: 0.9s;
}

.companySection {
  padding-top: 49px;
}

.trust {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 120.5%;
}

.komp {
  display: flex;
}

.kompLogo {
  margin-right: 23.26px;
}

.secondContainer {
  padding-top: 6px;
  margin-right: 30px;
}

.svg1 {
  margin-top: -510px;
  margin-left: 40px;
}

.svg0 {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0%, 100% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(1turn)
  }
}

.svg2 {
  margin-top: -409px;
  margin-left: 92px;
}

.svgq {
  animation: turn 5s linear infinite;
}

@keyframes turn {
  0%, 100% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(-1turn)
  }
}

.woman {
  margin-top: -300px;
}

.womanImage {
  width: 500px;
  position: relative;
}

.fill {
  position: absolute;
  top: 330px;
  animation: up-down 10s linear infinite;
}

@keyframes up-down {
  0%, 100% {
    transform: translateY(-10%)
  }
  50% {
    transform: translateY(2%);
  }
}

.imageFill {
  width: 500px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
